* {
    color: $white;
    background-color: $darkmode-black;
}

h1 {
    margin: 0;
}

code {
    background-color: $darkmode-black;
}

pre {
    background-color: $darkmode-black;
}

.footer a {
    text-decoration: none;
}