.nav {
    li a {
        width: 15px;
        height: 15px;
        color: $black;
        background-color: $white;
    }

    li a:hover {        
        background-color: $black;
        color: $white;
        text-decoration: none;
    }
}

