.nav {
    background-color: $olive-green;
    border-top: $black-line;
    border-bottom: $black-line;
}

.nav a {
    color: $white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.nav ul {
    margin: 0;
}

