@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

/* Färger */
$white: #fff;
$black: #000;
$green: #0f0;
/* Slut på färger */
$font-family: 'Poppins', sans-serif;
$middle: 0 auto;
$black-line: 1px solid $black;
