@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

/* Färger */
$white: #fff;
$black: #2B332B;
$green: #24F224;
$olive-green: #4F824F;
$dark-green: #51E851;
$outline-green: #435943;
$darkmode-black: #0F0F0F;
/* Slut på färger */
$font-family: 'Poppins', sans-serif;
$middle: 0 auto;
$black-line: 1px solid $outline-green;
