{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="grid-container article-layout">
            <aside class="select-article">
                <h2>Artiklar</h2>
                <ul>
                    {% for page in pages("technology") if page.title and not page.hidden %}
                        <li{% if page.id==current_page.id %} class="active" {% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
            <article class="display-article">
                {{ content }}
            </article>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
